@charset "UTF-8";
/*-----------------------------
* 基本ブロック（継承して利用）
-----------------------------*/
// 両方設定
%ext_base_block {
	position: relative;
	@include desktop {
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
	@include smartphone {
		width: $spBaseWidth;
		margin: 0 auto;
	}
}

// PCだけ設定
%ext_base_block_pc {
	@include desktop {
		position: relative;
		width: $contentBaseWidgth_PC;
		margin-left: auto;
		margin-right: auto;
	}
}

// スマホだけ設定
%ext_base_block_sp {
	@include smartphone {
		position: relative;
		margin-left: 20px;
		margin-right: 20px;
	}
}


/** ---------------------
 * 要素ごとのCSS
 * ------------------- */
// PCのみ表示
.pc_only {
	@include smartphone {
		display: none;
	}
}

// SPのみ表示
.sp_only {
	display: none;
	@include smartphone {
		display: inherit;
	}
}

// ボタンのロールオーバー
.btnImg_hover {
	@include desktop {
		transition: all 0.3s $ease-in-out;
		&:hover {
			opacity: 0.6;
		}
	}
}

// ぶら下がりインデント
.hanging_indent > li {
	padding-left: 1em;
	text-indent: -1em;
}

// 文字を小さくする ※Chromeで10px以下にならないため、transformで制御する
.subsmall {
	text-indent: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transform-origin: 25% 70%;
	-ms-transform-origin: 25% 70%;
	transform-origin: 25% 70%;
}


/** ---------------------
 * 全体共通CSS
 * ------------------- */
body {
	background-color: $baseBkgColor;
	color: $base-font-color;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
	* img {
		vertical-align: bottom;
		max-width: 100%;
        height: auto;
	}
	@include desktop {
		font-size: $base-font-size;
		min-width: $contentBaseWidgth_PC;
	}
	@include smartphone {
		min-width: inherit;
		-webkit-text-size-adjust: 100%;
	}
}

// aタグのリンク文字
a,
a:link, // 未訪問のリンク
a:visited,
a:hover,
a:active { // クリックしてから離されるまでの状態
	color: $linkColor;
	text-decoration: none;
}


/** ----------
 * ヘッダー
 * --------- */
header {
	position: relative;
	z-index: 15;
	@include desktop {
		background: url(#{$imgPath}header_line.gif) repeat-x center bottom;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
	}
	@include smartphone {
		display: flex;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #fff;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
	}
	.header_contentes {
		@extend %ext_base_block_pc;
		@include desktop {
			margin: 0 auto;
			padding: 16px 0 17px;
		}
		@include smartphone {
			width: 100%;
			padding: 7px 0 8px;
			background: url(#{$imgPath}header_line_sp.gif) repeat-x center bottom;
			background-size: 375px 2px;
		}
		.header_logo {
			text-align: center;
			@include smartphone {
				width: 178px;
				margin: 0 auto;
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.header_sns {
			display: flex;
			justify-content: space-between;
			position: absolute;
			@include desktop {
				width: 114px;
				top: 27px;
				right: 0;
			}
			@include smartphone {
				display: none;
			}
			li > a {
				display: block;
			}
		}
	}
	.header_nav_btn {
 		@include desktop {
 			display: none;
 		}
 		@include smartphone {
 			position: relative;
			width: 60px;
 			height: 60px;
 			background-color: #00913a;
 		}
 		> a {
 			display: block;
			width: 60px;
			height: 60px;
 			.header_nav_name {
 				@include smartphone {
 					position: relative;
 					padding: 15px 0 6px;
 					font-size: 10px;
 					font-weight: bold;
 					color: #fff;
 					text-align: center;
 				}
 			}
 			span,
 			span:before,
 			span:after {
 				@include smartphone {
 					position: absolute;
 					top: 30px;
 					right: 13px;
 					content: "";
 					display: block;
 					width: 35px;
 					margin: 0 auto;
 					border-top: 2px solid #fff;
 					border-radius: 1px;
 				}
 			}
 			span:before {
 				@include smartphone {
 					top: 4px;
 					right: 0;
 				}
 			}
 			span:after {
 				@include smartphone {
 					top: 10px;
 					right: 0;
 				}
 			}
 		}
 	}
}


/** -----------------
 * メインビジュアル
 * --------------- */
.mv_area {
	@include desktop {
		margin: 0 auto;
		background: url(#{$imgPath}mv_bg1.png) no-repeat center top;
	}
	@include smartphone {
		padding-top: 60px;
		background: url(#{$imgPath}mv_bg1_sp.png) no-repeat center 60px;
		background-size: contain;
	}
	.mv_contents {
		@extend %ext_base_block_pc;
		position: relative;
		@include desktop {
			margin: 0 auto;
		}
		@include smartphone {
			margin-bottom: percentage(60 / 750);
		}
		.mv_copy {
			@include desktop {
				margin-left: -50px;
				@include backgroundFig(795px, 352px, "mv_copy.png");
			}
			@include smartphone {
				@include backgroundFigSP(percentage(750 / 750), percentage(281 / 750), "mv_copy_sp.png");
			}
		}
		.mv_tag {
			position: absolute;
			@include desktop {
				margin-left: -50px;
				top: 368px;
				left: 56px;
			}
			@include smartphone {
				width: percentage(162 / 750);
				padding: percentage(134 / 750) 0 0 percentage(30 / 750);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		h1 {
			text-align: center;
			@include desktop {
				margin: 154px 0 32px 9px;
			}
			@include smartphone {
				width: percentage(398 / 750);
				margin: percentage(219 / 750) 0 percentage(28 / 750) percentage(193 / 750);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.mv_pkg {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			@include desktop {
				width: 642px;
			}
			@include smartphone {
				width: percentage(606 / 750);
				> li {
					width: percentage(174 / 606);
					> img {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	.mv_bg_obj_wrap {
		position: relative;
		// 共通CSS
		[class*=mv_bg_obj] {
			position: absolute;
			width: 100%;
		}
		// 背景の各野菜のごとのCSS
		.mv_bg_obj1 {
			@include desktop {
				top: -357px;
				left: 0;
				height: 560px;
				background: url(#{$imgPath}mv_bg_obj1.png) no-repeat center top;
			}
			@include smartphone {
				top: 0;
				right: 0;
				margin-top: percentage(-30 / 750);
				@include backgroundFigSP(percentage(99 / 750), percentage(169 / 750), "mv_bg_obj1_sp.png");
			}
		}
		.mv_bg_obj2 {
			@include desktop {
				top: -301px;
				left: 0;
				height: 342px;
				background: url(#{$imgPath}mv_bg_obj2.png) no-repeat center top;
			}
			@include smartphone {
				display: none;
			}
		}
		.mv_bg_obj3 {
			@include desktop {
				top: -285px;
				left: 0;
				height: 594px;
				background: url(#{$imgPath}mv_bg_obj3.png) no-repeat center top;
			}
			@include smartphone {
				display: none;
			}
		}
	}
}


/** ----------------
 * ナビゲーション
 * --------------- */
nav {
	position: fixed;
	width: 100%;
	z-index: 16;
 	@include desktop {
 		display: none;
		top: 0;
 		background-color: rgba(255, 255, 255, 0.9);
 	}
	@include smartphone {
		display: none;
		top: 60px;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		max-height: 100%;
		overflow: scroll;
		background-color: #fff;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
		-webkit-overflow-scrolling: touch;
	}
 	.nav_contents {
		@extend %ext_base_block_pc;
 		@include desktop {
 			display: flex;
 			justify-content: space-between;
 			align-items: center;
 			margin: 0 auto;
 			padding: 18px 0 18px;
 		}
		.nav_logo {
			@include smartphone {
				display: none;
			}
			a {
				display: block;
			}
		}
 		.nav_list {
 			@include desktop {
 				display: flex;
 				justify-content: space-between;
 				width: 535px;
 			}
			li {
				a > img {
					vertical-align: middle;
				}
				@include smartphone {
					border-bottom: 2px solid #ccc;
					line-height: 3.1em;
					> a {
						display: block;
							padding: 0 percentage(40 / 750);
					}
				}
			}
			// 基本の作り方
			.nav_howto {
				@include smartphone {
					padding: 0;
					border-bottom: none;
				}
				.nav_howto_ttl {
					@include smartphone {
						border-bottom: 2px solid #ccc;
					}
					img {
						@include smartphone {
							width: 91px;
						}
					}
				}
				.nav_howto_four,
				.nav_howto_fast {
					@include desktop {
						display: none;
					}
					> a {
						@include smartphone {
							padding: 0 percentage(70 / 750);
						}
					}
				}
			}
			// おすすめレシピ
			.nav_recipe {
				.nav_recipe_ttl {
					@include smartphone {
						border-bottom: 2px solid #ccc;
					}
				}
				.nav_recipe_contents {
					@include smartphone {
						display: flex;
						justify-content: space-between;
						padding: percentage(30 / 750) percentage(70 / 750);
					}
				}
			}
			// 商品紹介
			.nav_intro {
				.nav_intro_ttl {
					@include smartphone {
						border-bottom: 2px solid #ccc;
					}
				}
				.nav_intro_contents {
					@include smartphone {
						display: flex;
						justify-content: space-between;
						padding: percentage(30 / 750) percentage(98 / 750);
					}
				}
			}
			// SP版 メニュータイトルのサイズ変更
			@include smartphone {
				.nav_feature img {
					width: 146px;
				}
				.nav_recipe img {
					width: 90px;
				}
				.nav_intro img {
					width: 65px;
				}
			}
 		}
		// SNSシェアボタン
 		.nav_sns {
			display: flex;
			justify-content: space-between;
			align-items: center;
 			@include desktop {
 				width: 114px;
 			}
			@include smartphone {
				border-bottom: 2px solid #ccc;
			}
			li {
				@include smartphone {
					width: 100%;
					padding: 24px 0;
					border-left: 2px solid #ccc;
					&:first-child {
						border-left: none;
					}
				}
				> a {
					display: block;
					margin: 0 auto;
				}
			}
			.nav_sns_fb > a {
				@include desktop {
					@include backgroundFig(50px, 50px, "sns_fb.png");
				}
				@include smartphone {
					@include backgroundFigSP(100%, 22px, "sns_fb_sp.png");
				}
			}
			.nav_sns_tw > a {
				@include desktop {
					@include backgroundFig(50px, 50px, "sns_tw.png");
				}
				@include smartphone {
					@include backgroundFigSP(100%, 22px, "sns_tw_sp.png");
				}
			}
			.nav_sns_line {
				@include desktop {
					display: none;
				}
				> a {
					@include smartphone {
						@include backgroundFigSP(100%, 22px, "sns_line_sp.png");
					}
				}
			}
 		}
 	}
}


/** ------------
 * 基本の作り方
 * ------------ */
.howto_area {
	position: relative;
	@include desktop {
		top: -153px;
	}
	.howto_contents {
		@extend %ext_base_block;
		position: relative;
		z-index: 3;
		@include desktop {
			margin: 232px auto 213px;
		}
		.howto_ttl {
			text-align: center;
			@include desktop {
				margin-bottom: 26px;
			}
			@include smartphone {
				width: percentage(402 / 670);
				margin: 0 auto percentage(42 / 670);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.howto_lead {
			@include desktop {
				margin-bottom: 40px;
				line-height: 1.55em;
				text-align: center;
			}
			@include smartphone {
				margin-bottom: percentage(42 / 670);
				font-size: 4.26vw;
				line-height: 1.37em;
			}
		}
		.howto_sub_ttl {
			@include desktop {
				margin-bottom: 24px;
				@include backgroundFig(1000px, 45px, "howto_sub_ttl.png");
			}
			@include smartphone {
				margin-bottom: percentage(32 / 670);
				@include backgroundFigSP(percentage(670 / 670), percentage(76 / 670), "howto_sub_ttl_sp.png");
			}
		}
		.howto_steps {
			@include desktop {
				display: flex;
				justify-content: space-between;
				margin-bottom: 8px;
			}
			@include smartphone {
				margin-bottom: percentage(40 / 670);
			}
			li {
				@include desktop {
					position: relative;
					width: 235px;
					height: 518px;
					border: 2px solid rgba(0,  145, 58, 0.6);
					border-radius: 10px;
					box-sizing: border-box;
				}
				@include smartphone {
					@include clearfix;
					margin-bottom: percentage(15 / 670);
				}
				// 番号の共通のCSS
				[class*=howto_num] {
					@include desktop {
						position: absolute;
						top: -2px;
						left: -2px;
					}
					@include smartphone {
						float: left;
						margin-right: percentage(22 / 670);
					}
				}
				// PC版 各番号の画像
				@include desktop {
					.howto_num1 {
						@include backgroundFig(235px, 30px, "howto_num1.png");
					}
					.howto_num2 {
						@include backgroundFig(235px, 30px, "howto_num2.png");
					}
					.howto_num3 {
						@include backgroundFig(235px, 30px, "howto_num3.png");
					}
					.howto_num4 {
						@include backgroundFig(235px, 30px, "howto_num4.png");
					}
				}
				// SP版 各番号の画像
				@include smartphone {
					.howto_num1 {
						@include backgroundFigSP(percentage(42 / 670), percentage(433 / 670), "howto_num1_sp.png");
					}
					.howto_num2 {
						@include backgroundFigSP(percentage(42 / 670), percentage(482 / 670), "howto_num2_sp.png");
					}
					.howto_num3 {
						@include backgroundFigSP(percentage(42 / 670), percentage(293 / 670), "howto_num3_sp.png");
					}
					.howto_num4 {
						@include backgroundFigSP(percentage(42 / 670), percentage(293 / 670), "howto_num4_sp.png");
					}
				}
				// 最後の説明部分の下線を非表示
				&:last-child .howto_inner {
					@include smartphone {
						padding-bottom: 0;
						border-bottom: none;
					}
				}
				// 説明部分
				.howto_inner {
					position: relative;
					@include desktop {
						width: 198px;
						margin: 0 auto;
					}
					@include smartphone {
						float: left;
						width: percentage(606 / 670);
						padding: percentage(15 / 606) 0 percentage(30 / 606);
						border-bottom: 1px solid rgba(0, 145, 58, 0.6);
					}
					// レシピ写真の共通のCSS
					.howto_photo {
						@include desktop {
							margin: 50px 0 36px;
							text-align: center;
						}
						@include smartphone {
							float: left;
							width: percentage(261 / 606);
							margin-right: percentage(25 / 606);
							> img {
								width: 100%;
								height: auto;
							}
						}
					}
					// レシピ各写真のCSS
					.howto_photo1 {
						@include smartphone {
							margin-bottom: percentage(24 / 606);
						}
					}
					.howto_photo2 {
						@include smartphone {
							margin-bottom: percentage(86 / 606);
						}
					}
					.howto_notice2 {
						position: absolute;
						@include desktop {
							top: 144px;
							left: 5px;
							@include backgroundFig(188px, 53px, "howto2_notice.png");
						}
						@include smartphone {
							top: 0;
							margin-top: percentage(300 / 606);
							@include backgroundFigSP(percentage(606 / 606), percentage(44 / 606), "howto2_notice_sp.png");
						}
					}
					.howto_notice3 {
						position: absolute;
						@include desktop {
							top: 113px;
							right: 0;
							@include backgroundFig(118px, 89px, "howto3_notice.png");
						}
						@include smartphone {
							top: 0;
							left: 0;
							margin-top: percentage(163 / 606);
							margin-left: percentage(176 / 606);
							@include backgroundFigSP(percentage(139 / 606), percentage(114 / 606), "howto3_notice_sp.png");
						}
					}
					// レシピ説明文の共通のCSS
					[class*=howto_desc] {
						@include desktop {
							font-size: 16px;
							line-height: 1.5em;
						}
						@include smartphone {
							font-size: 3.73vw;
							line-height: 1.42em;
						}
					}
					// PC版 レシピ各説明文のCSS
					@include desktop {
						.howto_desc1 {
							margin-bottom: 64px;
						}
						.howto_desc2 {
							margin-bottom: 15px;
						}
					}
					// SP版 レシピ各説明文のCSS
					@include smartphone {
						.howto_desc1 {
							margin-top: percentage(90 / 606);
						}
						.howto_desc2 {
							margin-top: percentage(52 / 606);
						}
						.howto_desc3 {
							margin-top: percentage(33 / 606);
						}
						.howto_desc4 {
							margin-top: percentage(70 / 606);
						}
					}
					.howto_point {
						@include smartphone {
							clear: both;
						}
						.howto_point_ttl {
							font-weight: bold;
							@include desktop {
								margin-bottom: 12px;
								padding-left: 39px;
								background: url(#{$imgPath}howto_point_ttl_icon.png) no-repeat left center;
								background-size: 32px 19px;
								font-size: 13px;
								line-height: 1.5em;
							}
							@include smartphone {
								margin-bottom: percentage(14 / 606);
								padding-left: percentage(62 / 606);
								background: url(#{$imgPath}howto_point_ttl_icon.png) no-repeat left center;
								background-size: contain;
								font-size: 3.46vw;
								line-height: 1.1em;
							}
						}
						.howto_point_desc {
							@include desktop {
								margin-bottom: 7px;
								font-size: 14px;
								line-height: 1.5em;
							}
							@include smartphone {
								font-size: 2.93vw;
								line-height: 1.45em;
							}
						}
						.howto_point_desc1 {
							@include smartphone {
								margin-bottom: percentage(19 / 606);
							}
						}
						.howto_point_notes {
							color: $red;
							@include desktop {
								font-size: 12px;
								line-height: 1.5em;
							}
							@include smartphone {
								font-size: 2.93vw;
							}
						}
					}
				}
			}
		}
		.howto_attention {
			color: $red;
			@include desktop {
				margin-bottom: 23px;
				font-size: 12px;
				line-height: 1.5em;
			}
			@include smartphone {
				margin-bottom: percentage(33 / 670);
				font-size: 2.93vw;
				line-height: 1.54em;
			}
		}
		.howto_point_wrap {
			@include desktop {
				display: flex;
				justify-content: space-between;
			}
			// 共通CSS
			[class*=point_sub_ttl] {
				color: #fff;
				text-align: center;
				@include desktop {
					padding: 10px;
				}
				@include smartphone {
					font-size: 4.53vw;
					line-height: 1.8em;
				}
			}
			// 4人前を作るポイントのみのCSS
			.howto_four {
				@include desktop {
					width: 490px;
					border: 2px solid $red;
					box-sizing: border-box;
				}
				@include smartphone {
					margin-bottom: percentage(40 / 670);
					border: 2px solid $red;
				}
				.point_sub_ttl_four {
					background-color: $red;
				}
				.howto_four_desc {
					color: $red;
					@include desktop {
						width: 456px;
						padding: 8px 15px 5px;
						border-bottom: 2px solid $red;
						font-size: 14px;
						line-height: 1.57em;
					}
					@include smartphone {
						padding: percentage(13 / 605) percentage(28 / 605);
						border-bottom: 2px solid $red;
						font-size: 3.46vw;
						line-height: 1.46em;
					}
				}
				[class*=howto_point_desc] {
					@include desktop {
						padding-top: 4px;
						font-size: 12px;
						line-height: 1.5em;
					}
					@include smartphone {
						font-size: 3.2vw;
						line-height: 1.416em;
					}
				}
				// 4人前を作るポイントの共通のCSS
				.howto_four_inner {
					@include smartphone {
						width: percentage(625 / 670);
						margin: 0 auto;
						padding: percentage(18 / 750) 0;
					}
				}
				// 鍋のCSS
				.howto_four_pot {
					@include clearfix;
					background: url(#{$imgPath}howto_four_pot_line.gif) repeat-x left bottom;
					background-size: 8px 2px;
					@include desktop {
						width: 452px;
						margin: 0 auto;
						padding: 10px 0 12px;
					}
					.pot_icon {
						float: left;
						@include desktop {
							margin-right: 14px;
						}
						@include smartphone {
							width: percentage(92 / 620);
							margin-right: percentage(15 / 620);
							padding: percentage(16 / 620) 0;
							> img {
								width: 100%;
								height: auto;
							}
						}
					}
					.howto_point_desc_pot {
						@include smartphone {
							float: left;
							width: percentage(510 / 620);
							margin-bottom: percentage(8 / 620);
						}
					}
					.pot_notice {
						color: $red;
						@include desktop {
							padding-top: 3px;
							font-size: 12px;
						}
						@include smartphone {
							width: percentage(636 / 620);
							font-size: 2.8vw;
						}
					}
				}
				// 水のCSS
				.howto_four_water {
					@include desktop {
						width: 452px;
						margin: 0 auto;
						padding: 10px 0 9px;
					}
					.water_icon {
						float: left;
						@include desktop {
							margin: 4px 25px 0 9px;
						}
						@include smartphone {
							width: percentage(59 / 620);
							margin: 0 percentage(30 / 620) 0 percentage(15 / 620);
							padding-top: percentage(6 / 620);
							> img {
								width: 100%;
								height: auto;
							}
						}
					}
					.howto_point_desc_water {
						@include desktop {
							padding-top: 0;
						}
					}
				}
			}
			// 早ゆでタイプのパスタを使う場合のみのCSS
			.howto_fast {
				@include desktop {
					width: 490px;
					border: 2px solid $green;
					box-sizing: border-box;
				}
				@include smartphone {
					border: 2px solid $green;
				}
				.point_sub_ttl_fast {
					background-color: $green;
				}
				// 共通CSS
				[class*=howto_fast_inner] {
					@include clearfix;
					display: flex;
					margin: 0 auto;
					@include desktop {
						width: 453px;
					}
					@include smartphone {
						align-items: center;
						width: percentage(620 / 670);
						padding: percentage(20 / 620) 0;
					}
				}
				.fast_desc {
					@include desktop {
						font-size: 16px;
					}
					@include smartphone {
						font-size: 3.46vw;
					}
					.red_txt {
						color: $red;
						@include desktop {
							font-size: 20px;
						}
						@include smartphone {
							font-size: 4.26vw;
						}
					}
					.red_txt_small {
						@include desktop {
							font-size: 16px;
						}
						@include smartphone {
							font-size: 3.46vw;
						}
					}
				}
				.fast_desc {
					@include desktop {
						margin-top: 35px;
					}
				}
				// 早ゆで3分タイプのみのCSS
				.howto_fast_inner_three {
					background: url(#{$imgPath}howto_fast_line.gif) repeat-x left bottom;
					background-size: 8px 2px;
					.fast_icon_three {
						@include desktop {
							margin: 14px 20px 14px 0;
							@include backgroundFig(107px, 68px, "fast_three_icon.png");
						}
						@include smartphone {
							margin: 0 percentage(18 / 620) 0 percentage(6 / 620);
							@include backgroundFigSP(percentage(150 / 620), percentage(102 / 620), "fast_three_icon_sp.png");
						}
					}
				}
				// 早ゆで6分タイプのみのCSS
				.howto_fast_inner_six {
					.fast_icon_six {
						@include desktop {
							margin: 14px 20px 13px 0;
							@include backgroundFig(107px, 68px, "fast_six_icon.png");
						}
						@include smartphone {
							margin: 0 percentage(18 / 620) 0 percentage(6 / 620);
							@include backgroundFigSP(percentage(150 / 620), percentage(102 / 620), "fast_six_icon_sp.png");
						}
					}
				}
			}
		}
	}
	.howto_bg_obj {
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		@include desktop {
			position: absolute;
			height: 1360px;
		}
		// 共通CSS
		[class*=howto_bg_obj] {
			@include desktop {
				position: absolute;
				left: 50%;
			}
		}
		// 背景の各野菜ごとのCSS
		.howto_bg_obj1 {
			@include desktop {
				top: 486px;
				margin-left: 520px;
				@include backgroundFig(116px, 120px, "howto_bg_obj1.png");
			}
			@include smartphone {
				margin: percentage(21 / 750) 0 0 percentage(113 / 750);
				@include backgroundFigSP(percentage(591 / 750), percentage(495 / 750), "howto_bg_obj2_sp.png");
				background-position: center top;
			}
		}
		.howto_bg_obj2 {
			@include desktop {
				top: 687px;
				margin-left: -736px;
				@include backgroundFig(193px, 206px, "howto_bg_obj2.png");
			}
			@include smartphone {
				display: none;
			}
		}
		.howto_bg_obj3 {
			@include desktop {
				top: 1159px;
				margin-left: 25px;
				@include backgroundFig(568px, 502px, "howto_bg_obj3.png");
			}
			@include smartphone {
				display: none;
			}
		}
	}
}


/** -----------------------
 * ワンポットパスタの特長
 * ---------------------- */
.feature_area {
	position: relative;
	background-color: #f9f7e5;
	@include desktop {
		top: -153px;
	}
	@include smartphone {
		top: 0;
		margin-top: percentage(-335 / 750);
	}
	// 共通CSS
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
	}
	// 上部の波背景
	&:before {
		@include desktop {
			top: -83px;
			height: 83px;
			background: url(#{$imgPath}feature_bg_top.png) repeat-x center top;
		}
		@include smartphone {
			top: 0;
			height: 0;
			margin-top: percentage(-91 / 750);
			padding-bottom: percentage(91 / 750);
			background: url(#{$imgPath}feature_bg_top_sp.png) no-repeat center top;
			background-size: contain;
		}
	}
	// 下部の波背景
	&:after {
		@include desktop {
			bottom: -83px;
			height: 83px;
			background: url(#{$imgPath}feature_bg_bottom.png) repeat-x center top;
		}
		@include smartphone {
			bottom: 0;
			height: 0;
			margin-bottom: percentage(-91 / 750);
			padding-bottom: percentage(91 / 750);
			background: url(#{$imgPath}feature_bg_bottom_sp.png) no-repeat center top;
			background-size: contain;
		}
	}
	.feature_contents {
		@extend %ext_base_block;
		@include desktop {
			padding: 42px 0 7px;
		}
		@include smartphone {
			padding: percentage(48 / 750) 0 percentage(10 / 750);
		}
		.feature_ttl {
			text-align: center;
			@include desktop {
				margin-bottom: 26px;
			}
			@include smartphone {
				width: percentage(620 / 670);
				margin: 0 auto percentage(40 / 670);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.feature_lead {
			@include desktop {
				margin-bottom: 40px;
				font-size: 18px;
				line-height: 1.55em;
				text-align: center;
			}
			@include smartphone {
				margin-bottom: percentage(40 / 670);
				font-size: 4.26vw;
				line-height: 1.375em;
			}
		}
		.feature_list {
			@include desktop {
				display: flex;
				justify-content: space-between;
			}
			li {
				@include desktop {
					width: 316px;
				}
				// 各番号の共通のCSS
				[class*=feature_num] {
					@include smartphone {
						margin-bottom: percentage(34 / 670);
					}
				}
				// PC版 各番号の画像
				@include desktop {
					.feature_num1 {
						@include backgroundFig(316px, 40px, "feature_num1.png");
					}
					.feature_num2 {
						@include backgroundFig(316px, 40px, "feature_num2.png");
					}
					.feature_num3 {
						@include backgroundFig(316px, 40px, "feature_num3.png");
					}
				}
				// SP版 各番号の画像
				@include smartphone {
					.feature_num1 {
						@include backgroundFigSP(percentage(670 / 670), percentage(64 / 670), "feature_num1_sp.png");
					}
					.feature_num2 {
						@include backgroundFigSP(percentage(670 / 670), percentage(64 / 670), "feature_num2_sp.png");
					}
					.feature_num3 {
						@include backgroundFigSP(percentage(670 / 670), percentage(64 / 670), "feature_num3_sp.png");
					}
				}
				.feature_inner {
					margin: 0 auto;
					@include desktop {
						width: 276px;
					}
					@include smartphone {
						width: percentage(606 / 670);
						margin: 0 auto percentage(41 / 670);
					}
					// 共通のCSS
					[class*=feature_sub_ttl] {
						text-align: center;
						@include desktop {
							margin: 22px 0 11px;
							font-size: 22px;
							line-height: 1.54em;
						}
						@include smartphone {
							margin-bottom: percentage(30 / 670);
							font-size: 4.8vw;
							font-weight: bold;
							line-height: 1.33em;
						}
					}
					// 各要素ごとのCSS
					.feature_sub_ttl1 {
						@include desktop {
							margin: 36px 0 30px;
						}
					}
					.feature_desc {
						@include desktop {
							margin-bottom: 15px;
							font-size: 16px;
							line-height: 1.75em;
						}
						@include smartphone {
							font-size: 3.73vw;
							line-height: 1.428em;
						}
					}
					.feature_notes {
						color: $red;
						@include desktop {
							font-size: 14px;
							line-height: 1.57em;
						}
						@include smartphone {
							margin-top: percentage(11 / 606);
							font-size: 2.933vw;
							line-height: 1.545em;
						}
					}
				}
			}
		}
	}
}


/** ---------------
 * おすすめレシピ
 * -------------- */
.recipe_area {
	@include desktop {
		position: relative;
		top: -153px;
		margin-bottom: 100px;
		padding-top: 152px;
	}
	@include smartphone {
		margin: percentage(138 / 750) 0 percentage(100 / 750);
	}
	// 背景の野菜
	.recipe_bg_obj {
		@include desktop {
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		// 共通CSS
		[class*=recipe_bg_obj] {
			@include desktop {
				position: absolute;
				top: 0;
				left: 50%;
			}
			@include smartphone {
				display: none;
			}
		}
		// PC版 各野菜のCSS
		@include desktop {
			.recipe_bg_obj1 {
				top: 70px;
				margin-left: -612px;
				@include backgroundFig(1205px, 435px, "recipe_bg_obj1.png");
			}
			.recipe_bg_obj2 {
				top: 0;
				margin-left: -430px;
				@include backgroundFig(1131px, 522px, "recipe_bg_obj2.png");
			}
			.recipe_bg_obj3 {
				top: 42px;
				margin-left: -702px;
				@include backgroundFig(286px, 225px, "recipe_bg_obj3.png");
			}
			.recipe_bg_obj4 {
				top: 1302px;
				margin-left: -722px;
				@include backgroundFig(167px, 196px, "recipe_bg_obj4.png");
			}
		}
	}
	.recipe_contents {
		@extend %ext_base_block;
		position: relative;
		z-index: 14;
		.recipe_ttl {
			@include desktop {
				margin: 0 auto 30px;
				@include backgroundFig(371px, 111px, "recipe_ttl.png");
			}
			@include smartphone {
				margin: 0 auto percentage(40 / 670);
				@include backgroundFigSP(percentage(423 / 670), percentage(154 / 670), "recipe_ttl_sp.png");
			}
		}
		.recipe_lead {
			@include desktop {
				margin-bottom: 44px;
				text-align: center;
			}
			@include smartphone {
				margin-bottom: percentage(40 / 670);
				font-size: 4.266vw;
				line-height: 1.375em;
			}
		}
		.recipe_pkg {
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
			@include desktop {
				width: 578px;
				margin-bottom: 20px;
			}
			@include smartphone {
				width: percentage(631 / 670);
				margin-bottom: percentage(32 / 670);
			}
			li {
				@include smartphone {
					width: percentage(200 / 631);
				}
				a {
					display: block;
				}
				.recipe_pkg_img,
				.recipe_pkg_ttl,
				.recipe_pkg_arrow {
					text-align: center;
				}
				.recipe_pkg_img {
					@include smartphone {
						width: percentage(174 / 200);
						margin: 0 auto percentage(18 / 200);
						> img {
							width: 100%;
							height: auto;
						}
					}
				}
				.recipe_pkg_ttl {
					@include desktop {
						margin: 14px 0 15px;
					}
					@include smartphone {
						margin: 0 auto percentage(16 / 200);
						> img {
							width: 100%;
							height: auto;
						}
					}
				}
				.recipe_pkg_arrow {
					@include smartphone {
						width: percentage(42 / 200);
						margin: 0 auto;
						> img {
							width: 100%;
							height: auto;
						}
					}
				}
				// SP版 各PKG名の画像
				@include smartphone {
					.pkg_ttl_cream {
						width: percentage(202 / 200);
					}
					.pkg_ttl_dashi {
						width: percentage(129 / 200);
					}
					.pkg_ttl_tomato {
						width: percentage(158 / 200);
					}
				}
			}
		}
		.recipe_taste_list {
			& > li {
				@include desktop {
					margin-bottom: 20px;
				}
				@include smartphone {
					margin-bottom: percentage(32 / 670);
				}
			}
			.recipe_list {
				@include clearfix;
				@include desktop {
					position: relative;
					display: flex;
					justify-content: space-between;
					padding-bottom: 20px;
				}
				@include smartphone {
					padding-bottom: percentage(32 / 670);
				}
				&.recipe_list_cream {
					border-bottom: 4px solid $orange;
				}
				&.recipe_list_dashi {
					border-bottom: 4px solid $green;
				}
				&.recipe_list_tomato {
					border-bottom: 4px solid $red;
				}
				li {
					@include clearfix;
					@include smartphone {
						position: relative;
						float: left;
						width: percentage(312 / 670);
					}
					&:after {
						@include desktop {
							position: absolute;
							top: 0;
							left: 462px;
							width: 1px;
							height: 405px;
							margin-top: 40px;
							background: url(#{$imgPath}recipe_list_line.gif) repeat-y center top;
						}
					}
					&:nth-child(even) {
						@include smartphone {
							padding-right: percentage(22 / 670);
						}
						&:after {
							@include desktop {
								left: 737px;
							}
							@include smartphone {
								position: absolute;
								top: 0;
								right: 0;
								width: percentage(2 / 336);
								height: 0;
								padding-bottom: percentage(432 / 336);
								background: url(#{$imgPath}recipe_list_line_length_sp.gif) repeat-y center top;
								background-size: contain;
							}
						}
					}
					&:nth-child(odd) {
						@include smartphone {
							padding-left: percentage(22 / 670);
						}
					}
					&:first-child {
						@include smartphone {
							width: 100%;
							margin-bottom: percentage(32 / 670);
							padding-left: 0;
						}
						&:after {
							@include smartphone {
								height: 0;
								padding-bottom: percentage(2 / 670);
								background: url(#{$imgPath}recipe_list_line_sp.gif) repeat-x left top;
								background-size: contain;
							}
						}
					}
					// メインレシピ共通のCSS
					[class*=recipe_main_img] {
						@include desktop {
							margin-bottom: 10px;
						}
						@include smartphone {
							margin-bottom: percentage(32 / 670);
						}
					}
					.recipe_wrap {
						@include clearfix;
						@include desktop {
							float: left;
						}
						@include smartphone {
							margin-bottom: percentage(40 / 670);
						}
						.recipe_main_pkg {
							@include desktop {
								display: none;
							}
							@include smartphone {
								float: left;
								width: percentage(134 / 670);
								margin-right: percentage(37 / 670);
								> img {
									width: 100%;
									height: auto;
								}
							}
						}
						.recipe_main_ttl {
							@include desktop {
								margin-bottom: 7px;
								font-size: 18px;
								line-height: 1.44em;
							}
							@include smartphone {
								margin-bottom: percentage(40 / 670);
								padding-top: percentage(7 / 670);
								font-size: 4.266vw;
								line-height: 1.375em;
							}
						}
						.recipe_main_time {
							@include desktop {
								font-size: 16px;
							}
							@include smartphone {
								font-size: 3.466vw;
							}
						}
					}
					[class*=recipe_main_btn] {
						@include desktop {
							position: relative;
							float: right;
							width: 200px;
							height: 70px;
							margin-top: 4px;
							overflow: hidden;
						}
						@include smartphone {
							padding-bottom: percentage(40 / 670);
						}
						& > a {
							@include desktop {
								background-position: 0 0;
								&:hover {
									background-position: 0 -70px;
								}
							}
							@include smartphone {
								margin: 0 auto;
							}
						}
					}
					// PC版 メインレシピの各ボタン画像のCSS
					@include desktop {
						.recipe_main_btn_cream {
							& > a {
								@include backgroundFig(200px, 140px, "recipe_main_btn_cream.png");
							}
						}
						.recipe_main_btn_dashi {
							& > a {
								@include backgroundFig(200px, 140px, "recipe_main_btn_dashi.png");
							}
						}
						.recipe_main_btn_tomato {
							& > a {
								@include backgroundFig(200px, 140px, "recipe_main_btn_tomato.png");
							}
						}
					}
					// SP版 メインレシピの各ボタン画像のCSS
					@include smartphone {
						.recipe_main_btn_cream {
							& > a {
								@include backgroundFigSP(percentage(606 / 670), percentage(100 / 670), "recipe_main_btn_cream_sp.png");
							}
						}
						.recipe_main_btn_dashi {
							& > a {
								@include backgroundFigSP(percentage(606 / 670), percentage(100 / 670), "recipe_main_btn_dashi_sp.png");
							}
						}
						.recipe_main_btn_tomato {
							& > a {
								@include backgroundFigSP(percentage(606 / 670), percentage(100 / 670), "recipe_main_btn_tomato_sp.png");
							}
						}
					}
					// サブレシピ共通のCSS
					.recipe_sub_img {
						@include desktop {
							margin: 40px 0 36px;
						}
					}
					[class*=recipe_sub_ttl] {
						text-align: center;
						@include desktop {
							margin-bottom: 29px;
							font-size: 18px;
							line-height: 1.44em;
						}
						@include smartphone {
							margin: percentage(26 / 312) 0;
							font-size: 3.2vw;
							line-height: 1.5em;
						}
					}
					[class*=recipe_sub_btn] {
						margin: 0 auto;
						@include desktop {
							position: relative;
							width: 240px;
							height: 70px;
							overflow: hidden;
						}
						& > a {
							@include desktop {
								position: absolute;
								background-position: 0 0;
								&:hover {
									background-position: 0 -70px;
								}
							}
						}
					}
					// PC版 サブレシピ各ボタン画像ごとのCSS
					@include desktop {
						.recipe_sub_btn_cream {
							& > a {
								@include backgroundFig(240px, 140px, "recipe_sub_btn_cream.png");
							}
						}
						.recipe_sub_btn_dashi {
							& > a {
								@include backgroundFig(240px, 140px, "recipe_sub_btn_dashi.png");
							}
						}
						.recipe_sub_btn_tomato {
							& > a {
								@include backgroundFig(240px, 140px, "recipe_sub_btn_tomato.png");
							}
						}
					}
					// SP版 サブレシピ各ボタン画像ごとのCSS
					@include smartphone {
						.recipe_sub_btn_cream {
							& > a {
								@include backgroundFigSP(percentage(312 / 312), percentage(80 / 312), "recipe_sub_btn_cream_sp.png");
							}
						}
						.recipe_sub_btn_dashi {
							& > a {
								@include backgroundFigSP(percentage(312 / 312), percentage(80 / 312), "recipe_sub_btn_dashi_sp.png");
							}
						}
						.recipe_sub_btn_tomato {
							& > a {
								@include backgroundFigSP(percentage(312 / 312), percentage(80 / 312), "recipe_sub_btn_tomato_sp.png");
							}
						}
					}
					// なめらかクリーム味のレシピ
					.recipe_main_img_cream {
						@include desktop {
							@include backgroundFig(450px, 364px, "recipe_cream_broccoli.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(670 / 670), percentage(532 / 670), "recipe_cream_broccoli_sp.png");
						}
					}
					.recipe_cream_walnut {
						@include desktop {
							@include backgroundFig(250px, 198px, "recipe_cream_walnut.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_cream_walnut_sp.png");
						}
					}
					.recipe_cream_soup {
						@include desktop {
							@include backgroundFig(250px, 198px, "recipe_cream_soup.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_cream_soup_sp.png");
						}
					}
					// だし醤油味のレシピ
					.recipe_main_img_dashi {
						@include desktop {
							@include backgroundFig(450px, 364px, "recipe_dashi_spinach.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(670 / 670), percentage(532 / 670), "recipe_dashi_spinach_sp.png");
						}
					}
					.recipe_dashi_radish {
						@include desktop {
							margin-bottom: 45px;
							@include backgroundFig(250px, 198px, "recipe_dashi_radish.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_dashi_radish_sp.png");
						}
					}
					.recipe_dashi_soup {
						@include desktop {
							margin-bottom: 45px;
							@include backgroundFig(250px, 198px, "recipe_dashi_soup.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_dashi_soup_sp.png");
						}
					}
					.recipe_sub_ttl_dashi,
					.recipe_sub_ttl_tomato {
						@include desktop {
							margin-bottom: 45px;
						}
					}
					// コクのトマト味のレシピ
					.recipe_main_img_tomato {
						@include desktop {
							@include backgroundFig(450px, 364px, "recipe_tomato_bacon.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(670 / 670), percentage(532 / 670), "recipe_tomato_bacon_sp.png");
						}
					}
					.recipe_tomato_pork {
						@include desktop {
							margin-bottom: 45px;
							@include backgroundFig(250px, 198px, "recipe_tomato_pork.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_tomato_pork_sp.png");
						}
					}
					.recipe_tomato_soup {
						@include desktop {
							margin-bottom: 45px;
							@include backgroundFig(250px, 198px, "recipe_tomato_soup.png");
						}
						@include smartphone {
							@include backgroundFigSP(percentage(312 / 312), percentage(226 / 312), "recipe_tomato_soup_sp.png");
						}
					}
				}
			}
		}
	}
}


/** -----------
 * 商品紹介
 * ----------- */
.intro_area {
	position: relative;
	@include desktop {
		top: -153px;
	}
	@include smartphone {
		margin-bottom: percentage(170 / 750);
	}
	.intro_contents {
		@extend %ext_base_block;
		position: relative;
		z-index: 10;
		.intro_ttl {
			text-align: center;
			@include desktop {
				margin-bottom: 30px;
			}
			@include smartphone {
				width: percentage(273 / 670);
				margin: 0 auto percentage(42 / 670);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.intro_lead {
			@include desktop {
				margin-bottom: 45px;
				text-align: center;
			}
			@include smartphone {
				margin-bottom: percentage(46 / 670);
				font-size: 4.266vw;
				line-height: 1.375em;
			}
		}
		.intro_product {
			text-align: center;
			@include desktop {
				display: flex;
				justify-content: space-between;
				width: 950px;
				margin: 0 auto;
			}
			li {
				@include desktop {
					width: 294px;
				}
				@include smartphone {
					margin-bottom: percentage(68 / 670);
				}
				.intro_product_pkg {
					@include smartphone {
						width: percentage(260 / 670);
						margin: 0 auto percentage(33 / 670);
						> img {
							width: 100%;
							height: auto;
						}
					}
				}
				.intro_product_name {
					font-weight: bold;
					@include desktop {
						margin: 24px 0;
					}
					@include smartphone {
						margin-bottom: percentage(31 / 670);
						font-size: 4.533vw;
					}
				}
				.intro_product_desc {
					@include desktop {
						margin-bottom: 18px;
						font-size: 16px;
						line-height: 1.5em;
					}
					@include smartphone {
						margin-bottom: percentage(26 / 670);
						font-size: 3.733vw;
						line-height:  1.428em;
					}
				}
				// ボタン共通のCSS
				[class*=intro_product_btn] {
					margin: 0 auto;
					@include desktop {
						position: relative;
						width: 264px;
						height: 60px;
						overflow: hidden;
					}
					& > a {
						@include desktop {
							position: absolute;
							background-position: 0 0;
							&:hover {
								background-position: 0 -60px;
							}
						}
						@include smartphone {
							margin: 0 auto;
						}
					}
				}
				// PC版 各詳細ボタンのCSS
				@include desktop {
					.intro_product_btn_cream {
						& > a {
							@include backgroundFig(264px, 120px, "intro_product_btn_cream.png");
						}
					}
					.intro_product_btn_dashi {
						& > a {
							@include backgroundFig(264px, 120px, "intro_product_btn_dashi.png");
						}
					}
					.intro_product_btn_tomato {
						& > a {
							@include backgroundFig(264px, 120px, "intro_product_btn_tomato.png");
						}
					}
				}
				// SP版 各詳細ボタンのCSS
				@include smartphone {
					.intro_product_btn_cream {
						& > a {
							@include backgroundFigSP(percentage(542 / 670), percentage(100 / 670), "intro_product_btn_cream_sp.png");
						}
					}
					.intro_product_btn_dashi {
						& > a {
							@include backgroundFigSP(percentage(542 / 670), percentage(100 / 670), "intro_product_btn_dashi_sp.png");
						}
					}
					.intro_product_btn_tomato {
						& > a {
							@include backgroundFigSP(percentage(542 / 670), percentage(100 / 670), "intro_product_btn_tomato_sp.png");
						}
					}
				}
			}
		}
	}
	// 背景の野菜
	.intro_bg_obj {
		position: absolute;
		@include desktop {
			top: -341px;
			width: 100%;
			height: 1065px;
			overflow: hidden;
		}
		@include smartphone {
			top: 0;
			left: 0;
			width: 100%;
			overflow: hidden;
		}
		// 共通のCSS
		[class*=intro_bg_obj] {
			@include desktop {
				position: absolute;
				left: 50%;
			}
		}
		// PC版 背景の各野菜のCSS
		@include desktop {
			.intro_bg_obj1 {
		        top: 365px;
		        margin-left: -846px;
		        @include backgroundFig(376px, 700px, "intro_bg_obj1.png");
		    }
		    .intro_bg_obj2 {
		        top: 292px;
		        margin-left: -538px;
		        @include backgroundFig(89px, 92px, "intro_bg_obj2.png");
		    }
			.intro_bg_obj3 {
				top: 0;
				margin-left: 480px;
				@include backgroundFig(604px, 891px, "intro_bg_obj3.png");
			}
		}
		// SP版 背景の各野菜のCSS
		@include smartphone {
			.intro_bg_obj1 {
				top: 0;
				margin-top: percentage(403 / 750);
		        @include backgroundFigSP(percentage(750 / 750), percentage(1838 / 750), "intro_bg_obj1_sp.png");
		    }
		    .intro_bg_obj2 {
		        display: none;
		    }
			.intro_bg_obj3 {
				display: none;
			}
		}
	}
}


/** -------------------
 * トップページボタン
 * ------------------ */
.page_top_btn {
	position: fixed;
	z-index: 4;
	@include desktop {
		right: 48px;
		bottom: 60px;
	}
}


/** -----------
 * フッター
 * ----------- */
footer {
	position: relative;
	background-color: #fff;
	@include desktop {
		margin-top: -10px;
	}
	.footer_contens {
		@extend %ext_base_block;
		@include desktop {
			margin: 0 auto;
		}
		@include smartphone {
			padding-bottom: percentage(53 / 750);
		}
		.footer_logo {
			text-align: center;
			@include smartphone {
				width: percentage(446 / 670);
				margin: 0 auto percentage(29 / 670);
				> img {
					width: 100%;
					height: auto;
				}
			}
		}
		.footer_copyright {
			color: #7e7e7e;
			text-align: center;
			@include desktop {
				margin: 16px 0 34px;
				padding-left: 124px;
			}
			@include smartphone {
				font-size: 2.933vw;
			}
		}
	}
}
